@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}



.logotipe {
    padding: var(--space-layout-padding-lr);
    padding-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
}

.logotipe img {
    width: 36px;
    height: auto;
}

.logotipe h3 {
    color: var(--color-3);
    margin-left: 10px;
    margin-right: 240px;
    font-family: "SF-pro-text-bold";
}

.trhee_lines{
    margin-left: auto;
}

.investing{
    padding: var(--space-layout-padding-lr);
    color: var(--color-1);
    padding-bottom: 2vh;
}

.investing h2{
    font-family: "SF-pro-text-bold";
    padding-bottom: 2vh;
}

.investing_tips{
    /*border: 1px solid red;*/
    border-radius: 2vh;
    display: flex;
    align-items: center;
    width: 43vh;
    height: 18vh;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); /* Agrega una sombra al elemento2 */
    z-index: 2;
}

.exit{
    position: absolute;
    top: 0;
    right: 0;
}

.exit img{
    height: 4vh;
    padding-left: 8vh;
    padding-top: 1vh;
}


.sub_tips{
    /*border: 1px solid blue;*/
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    border-top-right-radius: 10vh;
    border-bottom-right-radius: 10vh;
    width: 19vh;
    height: 18vh;
    background: #E1FFEF;
    display: flex;
    align-items: center;
}

.investing_tips img{
    /*border: 1px solid green;*/
    width: 13vh;
}

.sub_etf{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    padding-left: 3vh;
    column-gap: 2vh;
}

.sub_etf h3{
    padding-bottom: 1vh;
    font-family: "SF-pro-text-bold";
    display: flex;
    justify-content: space-between;
}

.sub_etf small{
    font-family: "SF-pro-text-regular";
    padding-bottom: 1vh;
}

.sub_etf small:last-child{
    border-radius: 2vh;
    padding: var(--space-layout-padding-lr);
    background: #00DDA3;
    height: 4vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "SF-pro-text-bold";
}

.title_cards{
    font-family: "SF-pro-text-bold";
    color: var(--color-1);
    padding-bottom: 2vh;
    padding: var(--space-layout-padding-lr);
}

.cards_menu{
    
    border: 1px solid red;
    padding: var(--space-layout-padding-lr);
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    row-gap: 2vh;
}

.cards_container {
    display: flex;
    gap: 2vh; 
}

.cards{
    border: 1px solid green;
    border-radius: 3vh;
    width: 26vh;
    height: 37.5vh;
    padding-bottom: 2vh;
    background: url(../storage/image/backgraundCards.svg);
    background-color: var(--color-1);
    flex: 0 0 auto;
}

.cards img{
    height: 5.5vh;
    padding-top: 2vh;
    padding-left: 2vh;
}

.sub1{
    border: 1px solid violet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub1 h4{
    padding-top: 2vh;
    padding-right: 2vh;
    border: 1px solid red;
    color: white;
    font-family: "SF-pro-text-semibold";
}

.card_price{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12vh;
}

.card_price small{
    color: white;
    font-family: "SF-pro-text-bold";
}

.card_price h2{
    color: white;
    font-family: "SF-pro-text-bold";
}

.mastercard{
    border: 1px solid green;
}







.footer{
    /* background: red; */
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer__ul{
    background: var(--color-1);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0;
}
.footer__ul li{
    list-style: none;
    background: var(--color-1);
    border-radius: 100%;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
    width: 5vh;
    height: auto;
}



/* Responsive Styles */
@media screen and (max-width: 768px) {
    .logotipe h3 {
        margin-right: 50px; /* Adjust as needed */
    }
}

@media screen and (max-width: 576px) {
    .logotipe h3 {
        margin-right: 10px; /* Adjust as needed */
    }
}
