@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

body {
    background: var(--color-1);
    background-image: url(../storage/image/group.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logotipe {
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
}

.logotipe img {
    width: 36px;
    height: auto;
}

.logotipe h3 {
    color: var(--color-3);
    margin-left: 10px;
    margin-right: 240px;font-family: "SF-pro-text-bold";
}

.trhee_lines{
    margin-left: auto;
}

.welcome {
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.welcome h1 {
    color: white;
}

.txt_delgado {
    font-weight: lighter;
}

.bars {
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    justify-content: space-between;
}

.savings {
    flex-direction: column;
    padding-bottom: 1vh;
}

.savings img {
    width: 150px;
    height: auto;
}

.savings small {
    color: var(--color-3);
}

.savings h2 {
    color: var(--color-3);
}

.activities {
    background: white;
    padding-top: 30px;
    width: auto;
    height: 105vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left:20px; 
}

.activities h2{
    font-family: "SF-pro-text-bold";
}

.items{
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    justify-content: space-evenly;
    column-gap: 3vh;
    padding-bottom: 3vh;
}

.item3{
    width: 10vh;
    display: flex;
    flex-direction: row;
    width: 13vh;
    height: 16vh;
}

.sub_items{
    /*border: 1px solid black;*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); /* Agrega una sombra al elemento2 */
    z-index: 2;
}

.Transaccion{
    padding-bottom: 2.5vh;
    font-family: "SF-pro-text-bold";
}

.all_transaccions{
    /*border: 1px solid red;*/
    height: 63vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.arrow{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2.5vh;
}

.arrow img{
    width: 6.5vh; /* Ancho deseado */
    height: auto;
}

.food_price{
    /*border: 1px solid gray;*/
    display: flex;
    flex-direction: column;
    padding-left: 1vh;
}

.food_price h3{
    font-family: "SF-pro-text-bold";
}

.price_date{
    /*border: 1px solid gray;*/
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 1vh;
}

.price_date h3{
    font-family: "SF-pro-text-bold";
}

.date{
    margin-left: 2vh;
}

.footer{
    /* background: red; */
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer__ul{
    background: var(--color-1);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0;
}
.footer__ul li{
    list-style: none;
    background: var(--color-1);
    border-radius: 100%;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
    width: 5vh;
    height: auto;
}






/* Responsive Styles */
@media screen and (max-width: 768px) {
    .logotipe h3 {
        margin-right: 50px; /* Adjust as needed */
    }
}

@media screen and (max-width: 576px) {
    .logotipe h3 {
        margin-right: 10px; /* Adjust as needed */
    }
}
