:root{
    --color-1: #E5E5E4;
    --color-2: #00DDA3;
    --color-3: #212121;
    --color-4: #FFFFFF;
    --color-5: #E1FFEF;
    --color-6: #BEAD9E;
    --color-7: #E5E5E4;

    --space-layout-padding-lr: 0px 20px;
}

@font-face {
    font-family: "SF-pro-text-bold";
    src: url("../storage/fonts/FontsFree-Net-SFProText-Bold.ttf");
}

@font-face {
    font-family: "SF-pro-text-regular";
    src: url("../storage/fonts/FontsFree-Net-SFProText-Regular.ttf");
}

@font-face {
    font-family: "SF-pro-text-semibold";
    src: url("../storage/fonts/FontsFree-Net-SFProText-Semibold.ttf");
}