<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
</head>
<body>
    <head>
        <div class="logotipe">
            <a href="../index.html">
                <img src="../storage/image/logotipe.svg">
            </a>
            <h3>INVENTO</h3>
            <img src="../storage/image/trhee_lines.svg" class="trhee_lines">
        </div>
    </head>
    <div class="circle">
        <img src="../storage/image/backgraundCards.svg">
    </div>
    <div class="circle2">
        <div class="into_balance">
            <h2>Total</h2>
            <h2>Balance</h2>
            <h2>214,417</h2>
        </div>
    </div>
    <div class="table_subindi">
        <div class="assets">
            <h4>Assets</h4>
        </div>
        <div class="debt">
            <h4>Debt</h4>
        </div>
        <div class="income">
            <h4>Income</h4>
        </div>
    </div>
    <div class="table_balance">
        <img src="../storage/image/table_balance.svg">
    </div>





    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/image/home.svg">
                </a>
            </li>
            <li>
                <a href="../view/balance.html">
                    <img src="../storage/image/balance_menu_green.svg">
                </a>
            </li>
            <li>
                <a href="../view/cards.html">
                    <img src="../storage/image/cards_menu.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/image/notifications.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/image/user_menu.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>