<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
</head>
<body>
    <div class="logotipe">
        <a href="../index.html">
            <img src="../storage/image/logotipe.svg">
        </a>
        <h3>INVENTO</h3>
        <img src="../storage/image/trhee_lines.svg" class="trhee_lines">
    </div>
    <div class="page_balance">

    </div>
</body>
</html>