<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cards.css">
</head>
<body>
    <div class="logotipe">
        <a href="../index.html">
            <img src="../storage/image/logotipe_dark.svg">
        </a>
        <h3>INVENTO</h3>
        <img src="../storage/image/trhee_lines_dark.svg" class="trhee_lines">
    </div>
    <div class="investing">
        <h1>Investing Tips</h1>
    
        <div class="investing_tips">
            <div class="exit">
                <img src="../storage/image/exit.svg">
            </div>
            <div class="sub_tips">
                <img src="../storage/image/pig.svg">
            </div>
            <div class="sub_etf">
                <h3>What is an ETF?</h3>
                <small>By James B, PHD</small>
                <small>LEARN MORE</small>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/image/home.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/image/balance_menu.svg">
                </a>
            </li>
            <li>
                <a href="../view/cards.html">
                    <img src="../storage/image/cards_menu.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/image/notifications.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/image/user_menu.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>