<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cards.css">
</head>
<body>
    <div class="logotipe">
        <a href="../index.html">
            <img src="../storage/image/logotipe_dark.svg">
        </a>
        <h3>INVENTO</h3>
        <img src="../storage/image/trhee_lines_dark.svg" class="trhee_lines">
    </div>
    <div class="investing">
        <h2>Investing Tips</h2>
    
        <div class="investing_tips">
            <div class="exit">
            </div>
            <div class="sub_tips">
                <div class="circle">
                    <img src="../storage/image/pig.svg">
                </div>
                <div class="sub_etf">
                    <h3>What is an ETF?</h3>
                    <small>By James B, PHD</small>
                    <small>LEARN MORE</small>
                </div> 
            </div>
           
        </div>
    </div>
    <h2 class="title_cards">My cards (4)</h2>
    <div class="cards_menu">
        <div class="cards_container">
            <div class="cards">
                <div class="sub1">
                    <img src="../storage/image/sim.svg">
                    <h4>**** 6175</h4>
                </div>
                <div class="card_price">
                    <small>$</small><h2>47,417</h2>
                </div>
                <div class="mastercard">
                    <img src="../storage/image/mastercard.svg">
                </div>
            </div>
            <div class="cards2">
                <div class="sub2">
                    <img src="../storage/image/sim.svg">
                    <h4>**** 5789</h4>
                </div>
                <div class="card_price">
                    <small>$</small><h2>584,466</h2>
                </div>
                <div class="mastercard">
                    <img src="../storage/image/mastercard.svg">
                </div>
            </div>
            <div class="cards">
                <div class="sub1">
                    <img src="../storage/image/sim.svg">
                    <h4>**** 6175</h4>
                </div>
                <div class="card_price">
                    <small>$</small><h2>47,417</h2>
                </div>
                <div class="mastercard">
                    <img src="../storage/image/mastercard.svg">
                </div>
            </div>
            <div class="cards2">
                <div class="sub2">
                    <img src="../storage/image/sim.svg">
                    <h4>**** 5789</h4>
                </div>
                <div class="card_price">
                    <small>$</small><h2>584,466</h2>
                </div>
                <div class="mastercard">
                    <img src="../storage/image/mastercard.svg">
                </div>
            </div>
        </div>
    </div>





    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/image/home.svg">
                </a>
            </li>
            <li>
                <a href="../view/balance.html">
                    <img src="../storage/image/balance_menu.svg">
                </a>
            </li>
            <li>
                <a href="../view/cards.html">
                    <img src="../storage/image/cards_menu_green.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/image/notifications.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/image/user_menu.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>