<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/trash.css">
</head>
<body>
    <div>
        <div class="logotipe">
            <a href="../index.html">
                <img src="../storage/image/logotipe.svg">
            </a>
            <h3>INVENTO</h3>
            <img src="../storage/image/trhee_lines.svg" class="trhee_lines">
        </div>
        <div class="tras_txt">
            <div class="sub_txt">
                <h2>Come back soon</h2>
                <h4>We are working to deliver more content to you, please be patient and we wish you the best :)</h4>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="../view/trash.html">
                    <img src="../storage/image/home.svg">
                </a>
            </li>
            <li>
                <a href="../view/balance.html">
                    <img src="../storage/image/balance_menu_green.svg">
                </a>
            </li>
            <li>
                <a href="../view/cards.html">
                    <img src="../storage/image/cards_menu.svg">
                </a>
            </li>
            <li>
                <a href="../view/trash2.html">
                    <img src="../storage/image/notifications.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/image/user_menu.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>